body {
  background-color: rgb(250, 240, 230);
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 100px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  text-align:  center; 
  font-size: 8px;
}

.headshot {
  padding-top: 10px;
  margin: 10px 50px;
  padding-bottom: 10px;
}

.headshot img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}

.picture_p1 img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}

.ip {
  font-family: 'Montserrat', sans-serif;
  text-align:  center; 
  font-size: 8px;
  padding-bottom: 100px;
}